/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.mc-deck-card > img {
  border-radius: 1rem;
}

.w-20 {
  width: 20% !important;
}
