<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target name="console"  xsi:type="Console" layout="${uppercase:${level}} - ${logger} - ${message} ${exception:format=tostring}"/>
    <target name="debugger" xsi:type="Debugger" layout="${uppercase:${level}} - ${logger} - ${message} ${exception:format=tostring}"/>
    <target name="file"     xsi:type="File" fileName="logs\nlog-all-${shortdate}.log" layout="${longdate} - ${uppercase:${level}} - ${logger} - ${message} ${exception:format=tostring}" />
  </targets>
  <rules>
    <logger name="System.*" finalMinLevel="Warn" />
    <logger name="Microsoft.*" finalMinLevel="Warn" />
    <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />

    <!-- logger name="*" minlevel="Trace" writeTo="console,debugger,file" /-->
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>